
.icon-home:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-user-add:before { content: '\e804'; } /* '' */
.icon-pipette:before { content: '\e805'; } /* '' */
.icon-guidedog:before { content: '\e806'; } /* '' */
.icon-doc-add:before { content: '\e807'; } /* '' */
.icon-eye:before { content: '\e808'; } /* '' */
.icon-clipboard:before { content: '\e809'; } /* '' */
.icon-edit:before { content: '\e80a'; } /* '' */
.icon-th-list-outline:before { content: '\e80b'; } /* '' */
.icon-scissors:before { content: '\e80c'; } /* '' */
.icon-print:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-floppy:before { content: '\e810'; } /* '' */
.icon-fast-backward:before { content: '\e811'; } /* '' */
.icon-fast-forward:before { content: '\e812'; } /* '' */
.icon-login:before { content: '\e813'; } /* '' */
.icon-logout:before { content: '\e814'; } /* '' */
.icon-stopwatch:before { content: '\e815'; } /* '' */
.icon-ok:before { content: '\e816'; } /* '' */
.icon-cancel:before { content: '\e817'; } /* '' */
.icon-attach:before { content: '\e818'; } /* '' */
.icon-wrench:before { content: '\e819'; } /* '' */
.icon-male:before { content: '\e81a'; } /* '' */
.icon-female:before { content: '\e81b'; } /* '' */
.icon-tag:before { content: '\e81c'; } /* '' */
.icon-dollar:before { content: '\e81d'; } /* '' */
.icon-money:before { content: '\e81e'; } /* '' */
.icon-wallet:before { content: '\e81f'; } /* '' */
.icon-minus:before { content: '\e820'; } /* '' */
.icon-hospital:before { content: '\e821'; } /* '' */
.icon-lock:before { content: '\e822'; } /* '' */
.icon-right-hand:before { content: '\e823'; } /* '' */
.icon-pin-outline:before { content: '\e824'; } /* '' */
.icon-pin:before { content: '\e825'; } /* '' */
.icon-pinboard:before { content: '\e826'; } /* '' */
.icon-roadblock:before { content: '\e833'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */